

#loginButton{
    margin: 20px auto;
    width: 150px !important;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #001a3a; /*CHECK!NACHT*/
    color: #fff; /*weiß*/
    align-self: center !important;
    font-family: Brandon Grotesque Black;
    font-size: 13pt;
}