body {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    /*display: table-cell;*/
    text-align: center;
    vertical-align: middle;
}

#header {
    display: block;
}

#loginFelder {
    height: 40px;
    width: 300px;
    display: table;
    float: inherit;
    margin: auto;
    margin-top: 20px;
    vertical-align: center;
    align-self: center;
}

#loginButton {
    width: 150px;
    height: 40px;
    margin: 20px auto;
    align-self: center;
    vertical-align: center;

    font-family: BrandonGrotesque-Black, sans-serif;
    font-size: 13pt;
    color: white;
    background-color: #001a3a; /*CHECK!Nacht*/
}

#loginText {
    margin: auto;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;

    font-family: RobotoThin, sans-serif;
    font-size: 13pt;
    color: #8da6d6; /*CHECK!Flieder*/
}

#benutzername {
    color: #8da6d6; /*CHECK!Flieder*/
}

#registrierLink {
    text-decoration: underline;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: #8da6d6; /*CHECK!Flieder*/
    padding: 5px;
}

#ersterFooterText {
    font-family: RobotoThin, sans-serif;
    font-size: 9pt;
    color: #001a3a; /*CHECK!Nacht*/
}

#zweiterFooterText {
    font-family: RobotoThin, sans-serif;
    font-size: 9pt;
    text-decoration: none;
    color: #8da6d6; /*CHECK!Flieder*/
}

#footerLink {
    text-decoration: none;
    color: #8da6d6; /*CHECK!Flieder*/
}

#footerLogo {
    height: 25px;
}

/*.form-control.loginData {
    width: 300px auto;
    height: 40px auto;
    margin: 0 auto;
}
*/