body {
  margin: 0;
  background-color: #fff; /*weiß*/
}

#loginBody,
#loginHTML {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: 100%;
}

#loginBody {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#loginFelder {
  margin: auto;
  display: table;
  float: inherit;
}

#benutzername {
  margin: 5px auto;
  font-family: Roboto Thin;
  font-size: 13pt;
  color: #001a3a; /*CHECK!NACHT*/
}

#benutzername::-webkit-input-placeholder, #passwort::-webkit-input-placeholder {
  font-size: 13pt;
  color: #d3ddf2; /*CHECK!GRAU*/
  text-transform: uppercase;
}

#loginButton {
  margin: 20px auto;
  width: 150px !important;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #001a3a; /*CHECK!NACHT*/
  color: #fff; /*weiß*/
  align-self: center !important;
  font-family: Brandon Grotesque Black;
  font-size: 13pt;
}

#footerLogo {
  padding: 5px;
}

.ersterFooterText {
  font-family: Roboto Thin;
  font-size: 9pt;
  color: #001a3a; /*CHECK!NACHT*/
}

.zweiterFooterText {
  padding: 5px;
  color: #8da6d6; /*CHECK!FLIEDER*/
  font-family: Roboto Thin;
  font-size: 9pt;
}

.zweiterFooterText a {
  color: #8da6d6; /*CHECK!FLIEDER  */
}

.hinweismeldung{
    align-self: center;
    height: 200px;
    width: 300px;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    margin: auto;
    z-index: 10;
    position: absolute;
}

.textfeld{
    height: 80px;
    width: 270px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: Roboto Thin;
    font-size: 13pt;
    color: white;
}

.deleteButton{
    margin-top: 10px;
    margin-left: 260px;
}

#warning{
    background-color: #b71967;
}

#advice{
    background-color: #001a3a /*CHECK!NACHT*/
}

#confirmation{
    background-color: #76b82d /*CHECK!GRÜN*/
}
