.navbar {
  background-color: #001a3a; /*CHECK!NACHT*/
  border: none;
  margin: 0px;
  width: 100%;
}

.dropdown-menu li a {
  color: white;
}

.inline {
  float: left;
}

@media only screen and (min-width: 768px) {

  /* #body1 {
       background-color: #f7bed2; /*CHECK!Pink*/
  /*}*/
  .navbar {
    height: 60px;
  }

  .container-fluid {
    height: 60px;
  }

  #menu-logo {
    position: absolute;
    right: 45%;
  }

  #logo_unten {
    position: absolute;
    right: 45%;
    top: 5px;
  }

  #text_unten {
    position: absolute;
    right: 30%;
    top: 3px;
  }

  .nav-buttons {
    padding: 0px 3px 0px 3px;
    margin-top: 12px;
  }

  .divider {
    content: '';
    width: 1px;
    margin-top: 5px;
    height: 30px;
    background-color: #8da6d6; /*CHECK!Flieder*/
  }

  .menu-image:active, .open .menu-image {
    content: url("images/chapterOverview-active.png");
  }

  .eduPlanButton:active, .open .eduPlanButton {
    content: url("images/educationalPlan-active.png");
  }

  .achiCoButton:active, .open .achiCoButton {
    content: url("images/achievedCompetences-active.png");
  }

  .helpButton:active, .open .helpButton {
    content: url("images/help-active.png");
  }

  .logoutButton:active, .open .logoutButton {
    content: url("images/logout-active.png");
  }

  .dropdown-menu {
    border-radius: 5px;
    border-color: white;
    background-color: white;
    top: 55px;
    padding: 0px;
    width: 250px;
    height: auto;
  }

  .dropdown-menu.left:before {
    z-index: 3002;
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 7px;
    top: -38px;
    border: 20px solid;
    border-color: transparent transparent white;
    box-shadow: #020245;
  }

  .dropdown-menu.right:before {
    z-index: 3002;
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 205px;
    top: -38px;
    border: 20px solid;
    border-color: transparent transparent white;
    box-shadow: #020245;
  }

  .dropdown-menu li {

    background-color: #001a3a; /*CHECK!Nacht*/
    padding: 0px;
    margin: 2px;
  }

  .dropdown-menu li a {
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
  }

  .dropdown-menu li a:hover {
    color: white;
    background-color: #4565ad; /*CHECK!Violett*/
  }

  .dropdown-menu li:first-of-type {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
  }

  .dropdown-menu li:last-of-type {
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
  }

  .big-first {
    min-height: 125px;
    background-color: #001a3a; /*CHECK!Nacht*/
  }

  .big-first div div p {
    margin-top: 17px;
    margin-bottom: 0px;
    height: 74px;
    color: #4565ad; /*CHECK!Violett*/
    font-family: RobotoThin, sans-serif;
    font-size: 13px;
    font-weight: 900;
  }

  .big-first div img {
    padding: 15px 15px 0px;
  }

  .big-first-top {
    width: 100%;
  }

  .big-first-bottom {
    width: 100%;
  }

  .big-first-bottom p {
    text-align: right;
    margin-bottom: 0px;
    margin-right: 5px;
    padding-top: 85px;
    font-weight: bolder;
  }

  .big-first div p {
    color: white;
  }

  #fenster {
    width: 100%;
    position: fixed;
    top: 60px;
    bottom: 50px;
  }

  #linke_seite {
    left: 0px;
    top: 0px;
    padding: 0px;
  }

  #linke_seite div {
    height: 45px;
  }

  #todo_liste {
    z-index: 20;
  }


  #rechte_seite {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
  }

  #rechte_seite img {
    margin-top: 30px;
    margin-left: 30px;
  }

  #todo_liste {
    overflow-y: scroll;
    overflow-x: visible;

    height: 620px;
    width: 650px;
  }

  #todo_liste::-webkit-scrollbar {
    display: none;
  }

  .bubble {
    background-image: url("images/contentTextBubble.png");
    background-size: cover;
    margin: 20px;
    overflow-x: visible;
    width: 350px;
    height: 110px;
    padding: 20px;
  }

  .bubble div p {
    font-family: RobotoThin, sans-serif;
    font-size: 13px;
    font-weight: 900;
    height: 50px;
    margin: 0px 0px 13px 0px;
  }
  .bubble div p.number {
    color: grey;
    font-size: 8px;
  }

  .bubble div {
    overflow-x: visible;
    z-index: 5;
  }

  .bubble div.right{
    float: right;
    width: 0%;
  }

  .bubble div.left{
    float: left;
    width: 100%;
  }

  .bubble div div.right{
      width: 20%;
      float:right;
  }
  .bubble div div.left{
    width: 80%;
      float:left;
    height: 60px;
  }

  .infoBubble
  {
    font-family: Brandon Grotesque White;
    font-size: 15px;
    color: white;
    position: relative;
    overflow: visible;
    left: 250px;
    top: -20px;
    width: 250px;
    padding: 0px;
    background: #001a3a;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: #FFFFFF solid 4px;
    float: right;
  }

  .infoBubble:after
  {
    margin-left: 50px;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #001a3a;
    display: block;
    width: 0;
    z-index: 1;
    left: -60px;
    top: 18px;
  }

  .infoBubble:before
  {
    margin-left: 50px;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 13px 13px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 0;
    left: -63px;
    top: 15px;
  }

  .infoBubbleText{
    padding: 10px;
  }

  .bubbleNumber {
    font-size: 5px;
    bottom: 0px;
    float: left;
  }

  .navbar-fixed-bottom {
    height: 50px;
    width: 100%;
  }

  .container-fluid.bottom {
    width: 100%;
    height: 50px;
  }

  .navbar-fixed-bottom div div p {
    color: #4565ad;
  }
}

@media only screen and (max-width: 767px) {

  .navbar {
    height: 100%;
    width: 100%;
  }

  #menu-logo {
    display: none;
  }

  .container-fluid {
    padding: 0px;
  }

  .nav-buttons {
    margin: 0px;
    padding-left: 20px;
    border: 2px solid white;
  }

  .navbar-fixed-bottom {
    display: none;
  }
}

.dropdown-menu left {
  color: white;
}

.dropdown-menu li.alleKompetenzen a {
  background-color: #001a3a; /*CHECK!Nacht*/
}

.dropdown-menu li.alleKompetenzen a:hover, .dropdown-menu li.alleKompetenzen a:active {
  background-color: #607389;
}

.dropdown-menu li.dasBinIch a {
  background-color: #79ab2e;
}

.dropdown-menu li.dasbinich a:hover, .dropdown-menu li.dasbinich a:active {
  background-color: #a1c153;
}

.dropdown-menu li.ichUndDieAnderen a {
  background-color: #c6d54f;
}

.dropdown-menu li.ichUndDieAnderen a:hover, .dropdown-menu li.ichUndDieAnderen a:active {
  background-color: #dbe283;
}

.dropdown-menu li.dieWeltUmMich a {
  background-color: #94c122;
}

.dropdown-menu li.dieWeltUmMich a:hover, .dropdown-menu li.dieWeltUmMich a:active {
  background-color: #bad151;
}

.dropdown-menu li.ichWerdeSelbstständig {
  background-color: #44b284;
}

.dropdown-menu li.ichWerdeSelbstständig a:hover, .dropdown-menu li.ichWerdeSelbstständig a:active {
  background-color: #7cc3a3;
}

.dropdown-menu li.sichBewegen {
  background-color: #ffdd00;
}

.dropdown-menu li.sichBewegen a:hover, .dropdown-menu li.sichBewegen a:active {
  background-color: #ffea64;
}

.dropdown-menu li.lernen {
  background-color: #ffed98;
}

.dropdown-menu li.lernen a:hover, .dropdown-menu li.lernen a:active {
  background-color: #fff3d8;
}

.dropdown-menu li.arbeiten {
  background-color: #fbb900;
}

.dropdown-menu li.arbeiten a:hover, .dropdown-menu li.arbeiten a:active {
  background-color: #ffcf53;
}

.dropdown-menu li.gestaltenUndErschaffen {
  background-color: #ef7d25;
}

.dropdown-menu li.gestaltenUndErschaffen a:hover, .dropdown-menu li.gestaltenUndErschaffen a:active {
  background-color: #f5a04c
}

.dropdown-menu li.sprechen {
  background-color: #d60d66;
}

.dropdown-menu li.sprechen a:hover, .dropdown-menu li.sprechen a:active {
  background-color: #e35154;
}

.dropdown-menu li.fremdsprache {
  background-color: #ea518d;
}

.dropdown-menu li.fremdsprache a:hover, .dropdown-menu li.fremdsprache a:active {
  background-color: #ee7ba9;
}

.dropdown-menu li.lesen {
  background-color: #f29db7;
}

.dropdown-menu li.lesen a:hover, .dropdown-menu li.lesen a:active {
  background-color: #f7bed2;
}

.dropdown-menu li.schreiben {
  background-color: #a62068;
}

.dropdown-menu li.schreiben a:hover, .dropdown-menu li.schreiben a:active {
  background-color: #c9457e;
}

.dropdown-menu li.messen a {
  background-color: #008fc8;
}

.dropdown-menu li.messen a:hover, .dropdown-menu li.messen a:active {
  background-color: #4fa8da;
}

.dropdown-menu li.loesungenFinden a {
  background-color: #62c2d0;
}

.dropdown-menu li.loesungenFinden a:hover, .dropdown-menu li.loesungenFinden a:active {
  background-color: #94d3e5;
}

.dropdown-menu li.zaehlenUndRechnen a {
  background-color: #004077;
}

.dropdown-menu li.zaehlenUndRechnen a:hover, .dropdown-menu li.zaehlenUndRechnen a:active {
  background-color: #005daa;
}

.dropdown-menu li.formUndRaum a {
  background-color: #3873b9;
}

.dropdown-menu li.formUndRaum a:hover, .dropdown-menu li.formUndRaum a:active {
  background-color: #658bc8;
}

#scrollUp {
  position: absolute;
  right: 30px;
  top: 90px;
  height: 50px;
  float: right;
  z-index: 5;
}

#scrollDown {
  position: absolute;
  right: 30px;
  bottom: 90px;
  height: 50px;
  float: right;
  z-index: 5;

}

#loginButton{
    margin: 20px auto;
    width: 150px !important;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #001a3a; /*CHECK!NACHT*/
    color: #fff; /*weiß*/
    align-self: center !important;
    font-family: Brandon Grotesque Black;
    font-size: 13pt;
}

#abbrechenButton{
    margin: 20px auto;
    width: 150px !important;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #001a3a; /*CHECK!NACHT*/
    color: #fff; /*weiß*/
    align-self: center !important;
    font-family: Brandon Grotesque Black;
    font-size: 13pt;
}

.btn btn-lg btn-success btn-block{
    align-self: center;
    vertical-align: center;
}

.ändereDiv{
    padding: 100px;
    padding-left: auto;
    color: black;
    font-family: Brandon Grotesque Black;
    font-size: 20pt;
    align-self: center;
    display: block;
}

/* AvatartÄndern */

#avatarBilder{
  margin-top: 50px;
  align-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  text-align-all: center;

  font-family: Brandon Grotesque Black;
  font-size: 20pt;
}

#avatarAendern{
  margin-top: 50px;
  align-content: center;
  text-align: center;
  align-items: center;
  align-self: center;

  font-family: Brandon Grotesque Black;
  font-size: 20pt;
}

#avatarAendern p{
  margin-top: 10px;
}

#buttonsFloat{
    width: 305px;!important;
    vertical-align: middle;
    align-self: center;
    margin: 20px auto;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #001a3a; /*CHECK!NACHT*/
    color: #fff; /*weiß*/
    align-self: center !important;
    font-size: 13pt;
}

#buttonabbrechen{
    float: left;
}

#buttonspeichern{
    float: right;
}

/* PasswortÄndern */

#ändernButton{
    margin: 20px auto;
    width: 150px !important;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #001a3a; /*CHECK!NACHT*/
    color: #fff; /*weiß*/
    align-self: center !important;
    font-family: Brandon Grotesque Black;
    font-size: 13pt;
}

#passwortAendern{
  margin-top: 50px;
  align-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  text-align-all: center;

  font-family: Brandon Grotesque Black;
  font-size: 20pt;
}

#passwortAendern p{
    margin-top: 10px;
}

#npDiv{
  width:33%;
  float: left;
  text-align: right;
  font-family: Brandon Grotesque;
  color: #d3ddf2;
  font-size: 14pt;
  padding-right: 30px;
  padding-top: 5px;
}

#npDiv1{
  width:33%;
  float: left;
  text-align: right;
  font-family: Brandon Grotesque;
  color: #d3ddf2;
  font-size: 14pt;
  padding-right: 30px;
  padding-top: 5px;
}

#npDiv2{
  width:33%;
  float: left;
  text-align: right;
  font-family: Brandon Grotesque;
  color: #d3ddf2;
  font-size: 14pt;
  padding-right: 30px;
  padding-top: 5px;
}

#mitte1{
  padding: 0px;
  width:33%;
  float: left;
}

#mitte2{
  padding: 0px;
  width:33%;
  float: left;
}

#mitte3{
  padding: 0px;
  width:33%;
  float: left;
}


/* ProfilLöschen */

#PLoeschenButton{
    margin: 20px auto;
    width: 150px !important;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #001a3a; /*CHECK!NACHT*/
    color: #fff; /*weiß*/
    align-self: center !important;
    font-family: Brandon Grotesque Black;
    font-size: 13pt;
}

#profilLoeschen{
  margin-top: 50px;
  align-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  text-align-all: center;

  font-family: Brandon Grotesque Black;
  font-size: 20pt;
}

#profilLoeschen p{
  margin-top: 10px;
}

#passwordinput{
}

#plDiv{
  width:33%;
  float: left;
  text-align: right;
  font-family: Brandon Grotesque;
  color: #d3ddf2;
  font-size: 14pt;
  padding-right: 30px;
  padding-top: 5px;
}

#mitte{
  padding: 0px;
  width:33%;
  float: left;
}

#außen{
  width:33%;
  height: 60px;
  float: left;
}


.hinweismeldung{
  align-self: center;
  height: 200px;
  width: 300px;
  top: -300px;
  border: 2px solid;
  border-color: white;
  border-radius: 5px;
  margin: auto;
  z-index: 10;
  position: relative;
}

.textfeld {
  height: 80px;
  width: 270px;
  margin-left: 15px;
  margin-top: 10px;
  font-family: Roboto Thin;
  font-size: 13pt;
  color: white;
}

.deleteButton {
  margin-top: 10px;
  margin-left: 260px;
}

#warning {
  background-color: #b71967;
}

#advice {
  background-color: #001a3a /*CHECK!NACHT*/
}

#confirmation {
  background-color: #76b82d /*CHECK!GRÜN*/
}
