.navbar{
    background-color: #020245;
    border: none;
    margin: 0px;
    width: 100%;
}




@media only screen and (min-width:768px) {

    .navbar{
        height: 60px;
    }

    .container-fluid{
        height: 60px;
    }

    #menu-logo{
        position: absolute;
        right: 40%;
    }

    .nav-buttons{
        padding: 0px 3px 0px 3px;
        margin-top: 12px;
    }

    .dropdown-menu {
        border-radius: 5px;
        border-color: white;
        background-color: white;
        top: 70px;
        padding: 0px;
        width: 250px;
        height: auto;
    }

    .dropdown-menu.left:before{
        z-index: 3002;
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 15px;
        top: -38px;
        border: 20px solid;
        border-color: transparent transparent white;
        box-shadow: #020245;
    }


    .dropdown-menu.right:before{
        z-index: 3002;
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
        top: -38px;
        border: 20px solid;
        border-color: transparent transparent white;
        box-shadow: #020245;
    }

    .dropdown-menu li{

        background-color: #79ab2e;
        padding: 0px;
        margin: 5px;
    }

    .dropdown-menu li a{
        font-size: 18px;
        padding: 5px;
    }


    .dropdown-menu li:first-of-type{
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
    }

    .dropdown-menu li:last-of-type{
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
    }


    #dropdown-overview{
        left: 11px;
    }

    #dropdown-plan{
        left: 75px;
    }

    #dropdown-competences{
        left: 139px;
    }

    #dropdown-help{

    }

    #dropdown-logout{

    }


    #fenster{
        background-color: #f7bed2;
        width: 100%;
        position: absolute;
        top: 60px;
        bottom: 60px;
    }

    navbar-fixed-bottom{
        height: 60px;
        width: 100px;
    }


}

@media only screen and (max-width:767px) {

    .navbar{
        height: 100%;
        width: 100%;
    }

    #menu-logo{
        display: none ;
    }

    .container-fluid{
        padding: 0px;
    }

    .nav-buttons{
        margin: 0px;
        padding-left: 20px;
        border: 2px solid white;
    }

}

.dropdown-menu left{
    color: white;
}

#dasBinIch{
    background-color: #79ab2e
}
#dasbinich a:hover{
    background-color: #a1c153
}

#ichUndDieAnderen{
    background-color: #c6d54f
}
#ichUndDieAnderen a:hover{
    background-color: #dbe283
}

#dieWeltUmMich{
    background-color: #94c122
}
#dieWeltUmMich a:hover{
    background-color: #bad151
}

#ichWerdeSelbstständig{
    background-color: #44b284
}
#ichWerdeSelbstständig a:hover{
    background-color: #7cc3a3
}

#sichBewegen{
    background-color: #ffdd00
}
#sichBewegen a:hover{
    background-color: #ffea64
}

#lernen{
    background-color: #ffed98
}
#lernen a:hover{
    background-color: #fff3d8
}

#arbeiten{
    background-color: #fbb900
}
#arbeiten a:hover{
    background-color: #ffcf53
}

#gestaltenUndErschaffen{
    background-color: #ef7d25
}
#gestaltenUndErschaffen a:hover{
    background-color: #f5a04c
}

#sprechen{
    background-color: #d60d66
}
#sprechen a:hover{
    background-color: #e35154
}

#fremdsprache{
    background-color: #ea518d
}
#fremdsprache a:hover{
    background-color: #ee7ba9
}

#lesen{
    background-color: #f29db7
}
#lesen a:hover{
    background-color: #f7bed2
}

#schreiben{
    background-color: #a62068
}
#schreiben a:hover{
    background-color: #c9457e
}

#messen{
    background-color: #008fc8
}
#messen a:hover{
    background-color: #4fa8da
}

#loesungenFinden{
    background-color: #62c2d0
}
#loesungenFinden a:hover{
    background-color: #94d3e5
}

#zaehlenUndRechnen{
    background-color: #004077
}
#zaehlenUndRechnen a:hover{
    background-color: #005daa
}

#formUndRaumh{
    background-color: #3873b9
}
#formUndRaum a:hover{
    background-color: #658bc8
}


