body{
    margin:0px;}

#fenster {
    width:990px;
    margin:0px auto;
}

#menuleiste_oben{
    background-color: #020245; 
    height: 60px;
    width: auto;
}

#todo_liste {
    width: 340px;
    background-color: "#ffc2e1";
    
}

#rechte_seite{
    width: 310px;
    height: 590px;
    background-color: "#ffc2e1";
    position: relative;
    top: 105px;
    left: 680px;
}

#linke_seite{
    width: 340px;
    height: 590px;
    background-color: "#ffc2e1";
    position: relative;
    top: -490;
    left: 0px;
}

#menuleiste_unten{
    background-color: #020245; 
    height: 50px; 
    margin: auto;
}

#todo_liste{
    width: 340px;
    
}
